.car-card {
  background: white;
  border-radius: 32px;
  padding: 8px 24px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  margin: 0 6px; /* horizontal spacing between cards */
}

.car-card:hover {
  transform: translateY(-4px);
}

.image-wrapper {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 0;       
  margin: 0;        
}


.car-details {
  background-color: #f9f9fb;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.brand-line {
  color: #2e2e60;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.car-name {
  font-size: 16px;
  font-weight: 700;
  color: #2e2e60;
  margin: 0;
}

.view-link {
  font-size: 13px;
  color: #5c4dff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.view-link:hover {
  color: #3d36d1;
}
