.car-list-page {
  padding: 20px;
}

.heading-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.section-heading {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr)); /* sab equal width */
  gap: 16px;
  justify-items: center; /* center align karega */
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.error {
  text-align: center;
  font-size: 16px;
  color: red;
  margin-bottom: 20px;
}
